@import "./variables";

/* MAIN: CONOCENOS */
/* texto */
.parrafo-conocenos {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 20px 0px;
}

/* carrusel de imagenes */
.imagen-conocenos {
    border-radius: 10px;
    object-fit: cover;
}

/* media queries: main conocenos */
@media screen and (max-width: 768px) {
    /* texto */
    .parrafo-conocenos {
        font-size: 1rem;
    }
}

@media screen and (max-width: 576px) and (min-width: 320px) {
    /* texto */
    .parrafo-conocenos {
        font-size: 0.8rem;
        margin: 20px 20px 10px 20px;
    }
}